body {
    height: 95vh;
    background: repeating-linear-gradient(to bottom, #3a6126 0px, #3a6126 175px, #50813d 175px, #50813d 350px, #3a6126 350px, #3a6126 525px, #50813d 525px, #50813d 672px);
    background-attachment: fixed;
    color: white;
}

.footer{
    z-index: 98;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #3a6126;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.bola{
    text-shadow: 0px 0 #000, 0px 0 #000, 0 0px #000, 0 0px #000,
    0px 0px #000, 0px 0px #000, 0px 0px #000, 0px 0px #000; 
}

header{
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a6126;
}

span.name{
    color: red;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.nav-link{
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; 
}

.nav-link.text-warning{
    text-shadow: 0px 0 #000, 0px 0 #000, 0 0px #000, 0 0px #000,
    0px 0px #000, 0px 0px #000, 0px 0px #000, 0px 0px #000; 
}

.subt{
    color: gold;
}

.selector{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

.form-select{
    max-width: fit-content;
    max-height: 50px;
}

@media (max-width: 800px){
    #subtitle{
        display: none;
    }
}